div.home-wrapper {
    height: 100vh;
    div.home-header {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        box-shadow: 2px 9px 15px -15px rgba(0, 0, 0, 0.87);
        div.project-name {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        div.routing-buttons-container {
            display: flex;
            button.routing-button {
                margin: 0 1rem;
                background-color: #fff;
                border: none;
                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
    div.home-content {
        padding: 2rem;
    }
}
